<main>

  <div class="container my-5">
    <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
      <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
        <h1 class="display-4 fw-bold lh-1">Project Information</h1>
        <p class="lead">The Covid – 19 pandemic is causing major disruptions all over the world. One of the major fears during this time is that our healthcare systems will be overwhelmed by the numbers of people requiring care. This is of great concern as there is only a finite number of ICU beds. Preserving the number of ICU beds available for people that really need them is the aim of my project. After consulting a healthcare professional working in a local hospital, she highlighted to me what she thought was a flaw in the way in which Covid- positive patients were processed in the hospital.</p>

      </div>
      <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden shadow-lg">
        <img src="https://docs.google.com/uc?id=1O-q_eRJgPwJCe-bF8WIZqo-b_Gy_dFlk" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
      </div>
    </div>
  </div>

  <div class="container my-5">
    <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
      <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden shadow-lg">
        <img src="https://docs.google.com/uc?id=1tJGMGbNUPk1vtrG7Pc-lb0JH-AGF8P6g" class="d-block mx-lg-auto img-fluid" alt="Hospital" width="1000" height="820" loading="lazy">
      </div>

      <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">

        <p class="lead">She offered me an example:<br>
          A man walks into A&E and he tests positive for Covid-19.
          The man is middle-aged. The staff in the hospital are left with a dilemma.
          Do they let the man go home to self-isolate or do they admit him to a hospital bed?
          The problem is the man may seem to be safe to go home (not requiring ventilation),
          but he may deteriorate at home. This leads to most cases as such being kept in hospital
          and the patient is often occupying a bed they do not need.</p>
        </div>

      </div>
    </div>

    <div class="b-example-divider"></div>



    <div class="container my-5">
      <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
        <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
          <h1 class="display-4 fw-bold lh-1">My Solution:</h1>
          <p class="lead">My solution to this problem is to create a device that can be sent home with a patient that can monitor the oxygen saturation levels in their blood as this is the main indicator for the need of ventilation. The devices test results will be available to the patients’ doctor via the ‘Covid – 19 Digital Doctor’ web application. The web application will also can keep both the patient and the doctor in contact by storing user contact information and automatic emails. </p>

        </div>
        <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden shadow-lg">
          <img src="https://docs.google.com/uc?id=1XwG35OqMfWOPJ3ugTkBFlAlIEShZMkey" class="img-fluid border rounded-3 shadow-lg mb-4" alt="Exampgle image" width="700" height="500" loading="lazy">

        </div>
      </div>
    </div>

    <div class="b-example-divider"></div>

    <div class="px-4 pt-5 my-5 text-center border-bottom">
      <h1 class="display-4 fw-bold">Architecture Diagram.</h1>
      <div class="col-lg-6 mx-auto">
        <p class="lead mb-4"></p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">

        </div>
      </div>
      <div class="overflow-hidden" style="max-height: 60vh;">
        <div class="container px-5">
          <img src="https://docs.google.com/uc?id=13Rm7zRnXUmRxooAFv7Q6z2N1wqYCojaF" class="img-fluid border rounded-3 shadow-lg mb-4" alt="Exampgle image" width="700" height="500" loading="lazy">
        </div>
      </div>
    </div>


  </main>
